@import "~Tiie/Styles/variables.scss";

.tiie-table {
    background-color: $tiieColorPrimaryBackground;
    color: $tiieColorPrimaryFont;
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;

    th, td {
        background-color: $tiieColorPrimaryBackground;
        border: 1px $tiieColorPrimaryBorder dotted;
        padding: 5px;
    }

    thead {
        font-weight: bold;
    }

    thead :last-child {
        border-bottom: 2px $tiieColorPrimaryBorder solid;
    }
}
