@import "~Tiie/Styles/variables.scss";

.tiie-input {
    width: 100%;
    padding: 4px;
    border: 1px silver solid;
    background-color: white;
    border-radius: 3px;
    color: #454545;
}

.tiie-input.--inset-shadow {
    transition: 1s ease;
    box-shadow: inset 1px 0 5px rgba(0,0,0,.1);
}

.tiie-input:focus.--inset-shadow {
    transition: 1s ease;
    box-shadow: none;
}

.tiie-input.--error {
    background-color: $tiieColorErrorBackground;
    border: 1px $tiieColorErrorBorder solid;
    color: $tiieColorError;
}
